body {
	font-family:"lucida sans","lucida grande","lucida sans unicode",verdana,arial,san-serif;
	font-size: 99.9%;
	line-height: 1.3;
	color:#555;
	width:958px;
	margin:50px auto;
	background-image: url('http://www.thomsonlakes.co.uk/static/images/thomsonbrand/site52/lakes.bg.jpg');
	    background-color: #FFFFFF;
    background-position: center top;
    background-repeat: no-repeat;
}


.nav-wrapper {
    border-radius: 5px 5px 5px 5px;
	border: 3px solid #fff;
	background: #8babfe;
	background: -moz-linear-gradient(top, #8babfe 0%, #6d95ed 50%, #4173d6 51%, #4173d6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8babfe), color-stop(50%,#6d95ed), color-stop(51%,#4173d6), color-stop(100%,#4173d6));
	background: -webkit-linear-gradient(top, #8babfe 0%,#6d95ed 50%,#4173d6 51%,#4173d6 100%);
	background: -o-linear-gradient(top, #8babfe 0%,#6d95ed 50%,#4173d6 51%,#4173d6 100%);
	background: -ms-linear-gradient(top, #8babfe 0%,#6d95ed 50%,#4173d6 51%,#4173d6 100%);
	background: linear-gradient(to bottom, #8babfe 0%,#6d95ed 50%,#4173d6 51%,#4173d6 100%);
    border-radius: 5px 5px 5px 5px;
    clear: both;
    float: left;
    width: 969px;
}

.wrapper {
	/*font-size: 93%;*/
	border-left: 1px solid #3250BE;
	float:left;
	/*margin:0 5px 0 0;*/
	position:relative;
	/*padding: 10px 0;*/
}
.wrapper:first-child {
	border-left: 0 none;
}

.button {
	padding: 9px 15px;
	color: #fff;
	text-decoration: none;
	font-size: 90%;
}

.dropdown .button {
	padding: 9px 15px 9px 10px;
}

.button:hover {
	background: #3250be;
	background: -moz-linear-gradient(top, #3250be 0%, #678ce4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3250be), color-stop(100%,#678ce4));
	background: -webkit-linear-gradient(top, #3250be 0%,#678ce4 100%);
	background: -o-linear-gradient(top, #3250be 0%,#678ce4 100%);
	background: -ms-linear-gradient(top, #3250be 0%,#678ce4 100%);
	background: linear-gradient(to bottom, #3250be 0%,#678ce4 100%);
}

.button a {
	color: #fff;
	text-decoration: none;
}

.dropdown .button a {
	background: url("../imgs/whitearrowopen.png") no-repeat scroll left center transparent;
	padding-left: 15px;
}

.hover .button a {
	background: url("../imgs/whitearrowclosed.png") no-repeat scroll left center transparent;
}

	
.menu-container {
	display: none;
	background: #f7fbfd;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZmJmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmY3ZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f7fbfd 0%, #eff7fa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7fbfd), color-stop(100%,#eff7fa));
	background: -webkit-linear-gradient(top,  #f7fbfd 0%,#eff7fa 100%);
	background: -o-linear-gradient(top,  #f7fbfd 0%,#eff7fa 100%);
	background: -ms-linear-gradient(top,  #f7fbfd 0%,#eff7fa 100%);
	background: linear-gradient(to bottom,  #f7fbfd 0%,#eff7fa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfd', endColorstr='#eff7fa',GradientType=0 );
    border: 1px solid #AAC6D0;
	border-radius: 0 3px 3px 3px;
	position:absolute;
	top: 36px;
	font-size: 85%;
	overflow: hidden;
}

#nav1 .menu-container { width: 771px;}
#nav2 .menu-container { width: 178px;}
#nav3 .menu-container { width: 178px;}
#nav4 .menu-container { width: 178px;}
#nav5 .menu-container { width: 387px; right: 0; border-radius: 3px 0 3px 3px;}
		

.loading {padding: 15px 0 15px 15px;} 

/*a {text-decoration: none; color: #333333; }*/
/*a:hover {color: #ED1C24;}*/

a.heading {
	font-weight: bold;
	background: #004797;
	display: block;
	min-width: 178px;
	padding: 8px 0 8px 15px;
	color: #ffffff;
}

#nav1 li.heading {min-height: 390px;}
#nav1 li.heading.last {min-height: 50%; position: absolute; right: 0; top: 50%;}

li.heading {
	border-left: 1px solid #C5D2D7;
	/*min-width: 178px;*/
	width: 192px;
	float: left;
}
li.heading ul {
	padding: 5px 15px;

}
.heading:first-child {
	border-left: 0 none;
}

li ul {
    margin: 10px 0 15px;
    padding: 0;
}

.menu-container ul.heading {margin-top: 0;}

ul.subheading li.nested {
	padding: 0px 15px;
}

.nested {
	margin: 0 0 7px;
}


